<div class="card">
  <div class="card-header">Create new Address</div>
  <div class="card-text">
    <form [formGroup] = "createAddressForm" (ngSubmit) = "create(createAddressForm.value)">
      <div class="form-group-row">
        <label for="street" class="col-sm-6 col-form-label">Street</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="street" formControlName="street" name="street" placeholder="Street">
        </div>
      </div>
      <div class="form-group-row">
        <label for="district" class="col-sm-6 col-form-label">District</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="district" formControlName="district" name="district" placeholder="district">
        </div>
      </div>
      <div class="form-group-row">
        <label for="state" class="col-sm-6 col-form-label">State</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="state" formControlName="state" name="state" placeholder="State">
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-info">Deliver here</button>
      </div>
    </form>
  </div>

</div>
